version: '3.7'
services:
    interact-react:
        container_name: interact-react
        stdin_open: true
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - '.:/app'
            - '/app/node_modules'
        ports:
            - '3000:3000'
        environment:
            - NODE_ENV=production
